<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/TopStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringBlog</title>
</head>
<body>
    <header class="header-glass">
        <div class="container">
            <a href="#" class="logo">Spring Blog</a>
            <div class="nav-wrapper">
            <nav>
                <ul class="nav-links">
                <li><a href="/">ホーム</a></li>
                <li><a href="/makeBlog">投稿</a></li>
                <li><a href="#">会社概要</a></li>
                <li th:if="${loginUser == null}">
                    <a href="/login">ログイン</a>
                </li>

                <li th:if="${loginUser != null}">
                    <form action="/logout" method="post" style="display:inline;">
                        <button type="submit">ログアウト</button>
                    </form>
                </li>
                </ul>
            </nav>
            <div class="hamburger" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            </div>
        </div>
        <div class="mobile-menu">
            <ul>
            <li><a href="#">ホーム</a></li>
            <li><a href="#">サービス</a></li>
            <li><a href="#">会社概要</a></li>
            <li><a href="#">お問い合わせ</a></li>
            </ul>
        </div>
    </header>

    <script>
        function toggleMenu() {
            const hamburger = document.querySelector(".hamburger")
            const mobileMenu = document.querySelector(".mobile-menu")

            hamburger.classList.toggle("active")
            mobileMenu.classList.toggle("active")
        }
    </script>
</body>
</html>