<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/TopStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringBlog</title>
</head>
<body>
    <header class="header-glass">
        <div class="container">
            <a href="/" class="logo">Spring Blog</a>
            <div class="nav-wrapper">
            <nav>
                <ul class="nav-links">
                <li><a href="/">ホーム</a></li>
                <li><a href="/new">投稿</a></li>
                <!-- <li th:if="${loginUser == null}">
                    <a href="/login">ログイン</a>
                </li>

                <li th:if="${loginUser != null}">
                    <form action="/logout" method="post" style="display:inline;">
                        <button type="submit">ログアウト</button>
                    </form>
                </li> -->
                </ul>
            </nav>
            </div>
        </div>
    </header>

    <div class="blog-card">
        <h1 th:text="${blog.title}"></h1>
        <div th:utext="${blog.body}"></div>
    </div>
</body>
</html>